h1 h2 h3 h4 h5 h6 {
  margin-bottom: 0 !important;
}

p {
  margin-bottom: 0 !important;
}

/* Global title class used everywhere */
.section-title {
    font-weight: 300;
    font-size: 55px;
    margin-bottom: 20px;

}

.section-title span {
    background: linear-gradient(to right, #0049a8, #0061d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.text-muted-about {
    font-size: 20px;
    color: #1B1D21;
}

.section-pad {
    padding: 120px 0;
}

.bg-sky {
    background-image: url(../image/home-page/contact.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.subtext {
    color: #4A5565;
    font-size: 18px;
}
.core-global-sub{
    font-size: 20px;
    color: #4A5565;
}
.global-icon{
    width: 24px;
    height: 24px;
}
/* HERO */

.flag-box{
    border: 2px solid #C5F1FC;
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin-bottom: 24px;
}
.flag-box-img{
    width: 48px;
}
.main-title {
    font-weight: 700;
}
.font-24-about{
    font-size: 24px;
    font-weight: 700;
}
/* CARD BOX */
.card-box {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}
.mt-24{
    margin-top: 24px;
}
.mini-title {
    font-weight: 600;
    color: #005EB1!important;
    font-size: 24px;
    margin-bottom: 0;
    padding-left: 8px;
}
.about-dec{
    font-size: 18px;
    color: #364153;
}
/* FEATURE BOX */
.about-box {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #D8F4FD;
    height: 100%;
    text-align: left;
}
.check-icon{
   width: 23px;
   height: 23px;
   margin-right: 17px;
}
/* VALUE BOX */
/* ==========================================
   ABOUT + CORE VALUE SECTION (Career removed)
========================================== */
.about-core {
    padding: 120px 0;
    background-image: url("../image/careers/our-value.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #fff;
    font-family: "DM Sans", sans-serif;
}

/* TITLES */
.about-title,
.core-value-title {
    font-size: 55px;
    font-weight: 300;
}

.about-title span,
.core-value-title span {
    background: linear-gradient(to right, #0891B2, #06B6D4, #00D3F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.about-sub,
.core-value-sub {
    font-size:20px;
    color: #ffffff;
    margin-top: 24px;
}

/* ABOUT BOX */
.about-box-flag {
   
    padding: 30px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 14px;
    border: 1px solid #D4F5FD;
    backdrop-filter: blur(10px);
    text-align: left;
}

.about-box-p {
    font-size: 18px;
    line-height: 1.55;
    color: #eaf3ff;
}
@media (max-width: 991px) {
    .mt-60-md {
        margin-top: 40px;
    }
}
/* CORE CARDS */
.core-box {
    position: relative;
    border-radius: 14px;
    padding: 50px 24px 24px;
    background: rgba(255, 255, 255, 0.12);
    border: 2px solid #468AAF;
    min-height: 160px;
    text-align: left;
    backdrop-filter: blur(8px);
    width: 100%;
}

.core-tag {
    position: absolute;
    top: -22px;
    left: -17px;
    padding: 8px 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    color: #0c1c3c;
}

.core-tag.blue { background: #C0EFFC; }
.core-tag.yellow { background: #ffe7a1; }
.core-tag.orange { background: #ffc8b3; }

.core-box p {
    font-size: 18px;
    line-height: 1.55;
    color: #eaf3ff;
}

/* SPACING */
.mt-80 { margin-top: 80px; }
.mt-100 { margin-top: 100px; }

/* RESPONSIVE */
@media (max-width: 991px) {
    .about-title,
    .core-value-title {
        font-size: 42px;
    }
}

@media (max-width: 768px) {
    .mt-40-sm { margin-top: 40px; }
}

@media (max-width: 576px) {
    .about-core { padding: 80px 0; }
    .core-tag {
    position: absolute;
    top: -22px;
    left: 0px;
    padding: 8px 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    color: #0c1c3c;
}
}


/* CTA */
.cta-bg {
    background-image: url("../image/home-page/cta-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding: 120px 0;
}

.cta-blue {
     background: linear-gradient(to right, #0891B2, #06B6D4, #00D3F2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.fs-24{
    font-size: 24px;
}
.btn-cta {
    background: #00b2ff;
    border: none;
    padding: 12px 28px;
    border-radius: 8px;
}